<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "me.JPG" %>
  </div>

  <div id="content">
    <h1>Hey, I'm Jorge Naranjo</h1>
    <p>Welcome to my blog site using Rails 4. You're actually on the demo
    application right now. Cool stuff, right!</p>
  </div>
</div>
